<h1 align="center">About</h1>
<p align="center">This is a webpage for storing media you've watched</p>
<p align="center">Type in the name, select a rating out of 10, add a comment if you want, and choose the genre</p>
<p align="center">ONA means Original Net Animation</p>
<p align="center">OVA means Original Video Animation</p>