<h1 align="center">Update a Show</h1>
<form method="post" action="">
	<br>
	Show Name: 
	<input type="text" name="name"><br>
	<br>
	Rating:
	<select name="rating">
  		<option value="1">1</option>
  		<option value="2">2</option>
  		<option value="3">3</option>
  		<option value="4">4</option>
  		<option value="5">5</option>
  		<option value="6">6</option>
  		<option value="7">7</option>
  		<option value="8">8</option>
		<option value="9">9</option>
  		<option value="10">10</option>
	</select>

	<br>
	<br>
	Comments:
	<input type="text" name = "comments"><br>
	<br>

	<input type="radio" name="genre" value="TV"> TV
 	<input type="radio" name="genre" value="Movie"> Movie
 	<input type="radio" name="genre" value="OVA"> OVA
 	<input type="radio" name="genre" value="ONA"> ONA
 	<br><br>
 	<input type="submit" value="Submit">
 	<br><br>
</form>

{{#each shows}}
<p align="center">{{name}} (<i>{{rating}}</i>) - {{comments}} | <i>{{genre}}</i></p>
{{/each}}